body, header, div, section, footer, code {
    margin: 0;
}

div {
    padding: 8px;
}

body {
    background-color: #00aaff;
    background-image: url("background.png");
    background-size: cover;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

code {
    display: block;
    font-family: "Source Code Pro", Courier, monospace;
    margin: 32px 0;
    border: 2px solid orange;
    border-radius: 8px;
    background-color: #cef;
    overflow: hidden;
}



h1, h2, h3, h4, h5, h6 {
    /*text-shadow: 0 0 2px black;*/
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-family: "Signika", sans-serif;
}

h1 {
    color: white;
    font-size: 64pt;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black;
}

h2 {
    font-size: 48pt;
    color: #88ff00;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black;
}

h3 {
    font-size: 32pt;
}

section h3 {
    color: #44ffdd;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black;
}

h4 {
    font-size: 24pt;
}

h5 {
    font-size: 20pt;
    text-align: left;
    margin-left: 32px;
}

h6 {
    font-size: 16pt;
    text-align: left;
    margin-left: 24px;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:visited {
    color: #8822ff;
}

a:hover {
    text-shadow: 0 0 1px #44ccff;
}

ul {
    font-size: 16pt;
    margin: 0;
    padding: 8px;
    padding-left: 16px;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 8px;
    padding-left: 64px;
}

ul li::before {
    content: "-";
    font-weight: bold;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    counter-increment: codelineCounter;
    line-height: 1.5em;
}

ol li::before {
    content: counter(codelineCounter);
    color: grey;
    border-right: 2px solid grey;
    margin-right: 1em;
    background-color: #bce;
    float: left;
    text-align: center;
    width: 3em;
}

p {
    font-size: 16pt;
    text-align: justify;
}

header, footer {
    height: 100vh;
}

.titleWrapper {
    height: 320px;
    padding: 0;
    width: 100%;
    position: relative;
    top: 50%;
    bottom: 50%;
}

.titleCentered {
    display: block;
    position: relative;
    top: -50%;
}

section {
    padding: 32px 64px;
    margin: 64px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}

#background {
    padding: 0;
    background-position:50% 0;
    background-image: url("mosaic.png");
    background-repeat: repeat;
}

.narrow {
    margin: 0 auto;
    max-width: 1000px;
}

.block {
    padding: 8px 32px;
}

.indent {
    padding-left: 64px;
}

.center {
    text-align: center;
}

.comment {
    padding-left: 36px;
    color: grey;
}
